@model ImobiControl.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaConstruida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaConstruida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comodos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comodos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagaGaragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagaGaragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxaComissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxaComissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.EstadoSigla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Bairro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
